.footer{
  text-align: center;
  background-color:rgb(233, 232, 237);
  padding: 30px;
}

.fab {
  font-size: 30px;
  margin: 10px;
  color: rgb(57, 54, 69);
}
.footer p{
  font-size: 12px;
  color: rgba(57, 54, 69,0.7);
}
